<h2>Movies</h2>
<a href="/movies/create">Create Movie</a>
<ul>
    {{#each movies}}
    <li>
        <a href="/movies/{{id}}">
            <p class="title">{{title}}</p>
        </a>
    </li>
    {{/each}}
</ul>